<section class="welcome">
  <table class="welcome-table">
    <caption class="table-caption">
      <h2 class="table-caption-title">Índices</h2>
    </caption>
    <thead>
      <tr>
        <th class="welcome-table-th">Nombre</th>
        <th class="welcome-table-th">Descripción</th>
        <th class="welcome-table-th">Símbolo</th>
        <th class="welcome-table-th">Activo desde</th>
        <th class="welcome-table-th">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockExchanges">
        <td class="welcome-table-td"> {{ stock.name }} </td>
        <td class="welcome-table-td"> {{ stock.description }} </td>
        <td class="welcome-table-td"> {{ stock.symbol }} </td>
        <td class="welcome-table-td"> {{ stock.created | date:true }} </td>
        <td class="welcome-table-td"> Acciones </td>
      </tr>
    </tbody>
  </table>
  <div class="welcome-pagination">
    <div class="pagination-items">
      <p class="pagination-title">Items por página</p>
      <select (change)="setPaginationItems($event)">
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
      </select>
    </div>
    <div>Paginación</div>
  </div>
</section>