<!-- Testing

<a [routerLink]="['/']">Welcome</a>
<a [routerLink]="['/create']">Create</a>
<a [routerLink]="['/list']">List</a>

<router-outlet></router-outlet> -->
<section class="dashboard">
  <div class="dashboard-container">
    <div class="menu">
      <img class="menu-logo" src="assets/logo.svg" alt="Logo">
      <h1 class="menu-title">¡Bienvenido!</h1>
      <button class="menu-button">Crear </button>
      <button class="menu-button">Listar</button>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>