* {
  color: var(--letter);
}

.dashboard {
  display: grid;
  min-height: 100vh;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "menu main-content";
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: menu;
  background-color: var(--background);
  position: fixed;
  height: 100%;
  width: 200px;
}

.menu-logo {
  width: 180px;
}

.menu-title {
  font-weight: 700;
}

.menu-button {
  font-weight: 600;
  padding: 12px;
  width: 132px;
  border: 0;
  border-radius: 16px;
  background-color: var(--buttons);
  color: var(--background);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.main-content {
  grid-area: main-content;
  background-color: var(--content);
}